<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>命令添加</title>
	<link rel="stylesheet" type="text/css" href="/css/view.css" media="all">
	<script type="text/javascript" src="/js/view.js"></script>
</head>

<body id="main_body" >	
	<img id="top" src="/pic/top.png" alt="">
	<div id="form_container">
		<h1><a>命令添加</a></h1>
		<form class="appnitro"  method="post" action="">
			<div class="form_description">
				<h2>命令添加</h2>
				<p>请输入需要执行的命令。  <a href= "/user/" >面板</a> <a href= "/logout/" >登出</a></p>
			</div>							
			
			<ul >
				<li>
					<label class="description">命令 </label>
					<div>
						<input id="id_command" type="text" class="element text medium" name="command" />
					</div> 
				</li>
			
				<li class="buttons">
					<input class="button_text" type="submit" name="submit" value="提交" />
				</li>
			</ul>
		</form>	
		
		<div id="footer">
			Powered by MCP
		</div>
	</div>
	<img id="bottom" src="/pic/bottom.png" alt="">
	</body>
</html>