<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>命令历史</title>
	<link rel="stylesheet" type="text/css" href="/css/view.css" media="all">
	<script type="text/javascript" src="/js/view.js"></script>
</head>

<body id="main_body" >	
	<img id="top" src="/pic/top.png" alt="">
	<div id="form_container">
		<h1><a>命令历史</a></h1>
		<div class="appnitro">
			<div class="form_description">
				<h2>命令历史</h2>
				<p>查看用户的命令执行记录。  <a href= "/user/" >面板</a> <a href= "/logout/" >登出</a></p>
			</div>							

			<ul >
				{{range $key, $value := .HistoryMap}}
				<li>
					<label class="description"> 命令: {{$value.Command}} </label>
					<label class="description"> 时间: {{$value.Time}} </label>
					<label class="description"> 结果: {{$value.Result}} </label>
				</li>
				{{end}}
			</ul>
		</div>	
		
		<div id="footer">
				<a href="/history/{{.PreviousPage}}" title="上页">上页</a>
				<a class="number current" >
					第{{.CurrentPage}}/{{.PageNum}}页.
				</a>
				<a href="/history/{{.NextPage}}" title="下页">下页</a>
				<br/>
			Powered by MCP
		</div>
	</div>
	<img id="bottom" src="/pic/bottom.png" alt="">
	</body>
</html>