<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="/css/view.css" media="all">
	<script type="text/javascript" src="/js/view.js"></script>
</head>

<body id="main_body" >	
	<img id="top" src="/pic/top.png" alt="">
	<div id="form_container">
		<h1><a>注册</a></h1>
		<form class="appnitro"  method="post" action="">
			<div class="form_description">
				<h2>注册</h2>
				<p>请填写下列所需信息。</p>
			</div>						
			
			<ul >
				<li>
					<label class="description">用户名 </label>
				<div>
					<input id="id_username" type="text" class="element text medium" name="username" />
				</div> 
				</li>
				<li>
					<label class="description">密码 </label>
					<div>
						<input id="id_password" type="password" class="element text medium" name="password" />
					</div> 
				</li>
				<li>
					<label class="description">重复密码 </label>
					<div>
						<input id="id_passwordrepeat" type="password" class="element text medium" name="passwordrepeat" />
					</div> 
				</li>
				<li>
					<label class="description">邮箱 </label>
					<div>
						<input id="id_email" type="text" class="element text medium" name="email" />
					</div> 
				</li>
				<li class="buttons">		    
					<input class="button_text" type="submit" name="submit" value="注册" />
				</li>
			</ul>
		</form>	
		<div id="footer">
			Powered by MCP
		</div>
	</div>
	<img id="bottom" src="/pic/bottom.png" alt="">
	</body>
</html>